.Score-Cell {
    border: 1px solid #fff;
    transition: all 500ms;
    border-radius: 2px;
    cursor: not-allowed;

    &.active-hover {
        cursor: pointer;
        background-color: #fff;
        color: #000;

        &.no-match {
            background-color: red;
            cursor: not-allowed;
        }

        &.not-is-active-turn {
            cursor: not-allowed;
            background-color: transparent;
        }
    }
}