.ScoreSheet {
  width: 35%;
  background-color: #eee;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
  border-radius: 5px;
  box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.5);
  transition: height 500ms ease-in-out;
  padding: 12px;
  z-index: 2;

  &--in-progress {
    height: 90%;
  }

  &--not-in-progress {
    height: 20%;
  }

  &--active-player {
    border: 4px solid rgb(12, 3, 54);
  }
}