.DieBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;

    &--turn-begin {
        .dice {
            opacity: 0.1;
        }
    }

    &--dice-rolled,
    &--rolling {
        .dice {
            opacity: 1;
        }
    }

    .button {
        margin-right: 30px;
    }
}