.App {
  height: 100vh;
  overflow: hidden;

  .App-content {
    background: rgb(251, 250, 246);
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(251, 250, 246, 1) 9%, rgba(212, 206, 191, 1) 74%, rgba(212, 206, 191, 1) 74%, rgba(212, 206, 191, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(251, 250, 246, 1) 9%, rgba(212, 206, 191, 1) 74%, rgba(212, 206, 191, 1) 74%, rgba(212, 206, 191, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(251, 250, 246, 1) 9%, rgba(212, 206, 191, 1) 74%, rgba(212, 206, 191, 1) 74%, rgba(212, 206, 191, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfaf6', endColorstr='#d4cebf', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    overflow-y: scroll;
    position: relative;
    padding-bottom: 30px;
    height: 100%;

    .ScoreSheets {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: space-around;


    }

  }
}