$bg-color: indigo;
.ScoreSheetHeader {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    background-color: $bg-color;
    color: #fff;
     
        label {
            font-size: 18px;
            font-weight: 200;
        }
        input {
            height: 20px;
            border-radius: 2px;
            border: 1px solid #fff;
            padding: 2px;
            width: 140px;
            outline: none;
            background-color: $bg-color;
            color: #fff;
        
        }
        button {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            color: #fff;
            background: #234;
        }
        &:hover {
            .fa-edit {
                opacity: 1;
            }
        }
        .player-name{
            margin-right: 12px;
            font-size: 18px;
            font-weight: 600;
            font-style: italic;
        }
        .fa-edit {
            cursor: pointer;
            opacity: 0;
            transition: all 500ms;
            color: #fff;
        }
        .player-total {
            span {
                font-size: 18px;
                font-weight: 600;
                font-style: italic;  
            }
        }
}
