.ScoreSheetSections {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;

  .ScoreSheetSection {
    margin: 6px 0;
    background-color: rgb(12, 3, 54);
    //border-radius: 5px;
    z-index: 2;
    box-shadow: 1px 1px 20px -5px rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 12px;

    .ScoreSheetSection__title {
      font-weight: bold;
      float: left;
      font-size: 16px;

      // text-decoration: underline;
    }

    table {
      width: 100%;
      border: 1px solid #fff;

      th,
      td {
        width: 0 !important;
        text-align: center;
      }

      .rule-label {
        background-color: #fff;
        color: #000;
        padding: 5px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 14px;

        .fas {
          margin-left: 5px;
        }
      }

      .rule-desc {
        font-size: 12px;
      }
    }

    .total {
      margin-top: 12px;
    }
  }
}