$height: 60;
$depth: 6;
$color: #fff;
$text-color: #282c34;
$lighten-on-hover: 7%;
$button-speed: .06;
$timing-function: ease-out;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-weight: 100;
  height: 100vh;
}

.button {
  cursor: pointer;
  text-shadow: 0 -2px 0 darken($color, 20%), 0 1px 1px lighten($color, 20%);
  box-sizing: border-box;
  font-size: 1.5em;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  font-weight: bold;
  color: $text-color;
  width: 200px;
  border-radius: 25px;
  outline: none;
  border: none;
  height: $height+px;
  line-height: $height+px;
  padding: 0 (($height/2)+px);
  display: inline-block;
  width: auto;
  background: $color;
  border-radius: 5px;
  border-top: 1px solid lighten($color, 22%);
  border-bottom: 1px solid lighten($color, 20%);
  top: 0;
  transition: all ($button-speed + s) $timing-function;
  position: relative;

  &:visited {
    color: $text-color;
  }

  &:hover {
    background: lighten($color, 15%);
  }

  &:active {
    top: $depth+px;
    text-shadow: 0 -2px 0 darken($color, 0%), 0 1px 1px lighten($color, 20%), 0 0 4px white;
    color: lighten($color, 45%);

    &:before {
      top: 0;
      box-shadow: 0 3px 3px rgba(0, 0, 0, .7), 0 3px 9px rgba(0, 0, 0, .2);

    }
  }

  &:before {
    display: inline-block;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    top: ($depth)+px;
    border-radius: 5px;
    height: ($height)+px;
    background: linear-gradient(to top,
        saturate(darken($color, 40%), 15%) 0%,
        saturate(darken($color, 25%), 10%) $depth+px);
    transition: all (($button-speed*1.3) + s) $timing-function;
    box-shadow:
      0 1px 0 2px rgba(0, 0, 0, .3),
      0 5px ($depth*.4+px) rgba(0, 0, 0, .5),
      0 ($depth*1.8+px) 9px rgba(0, 0, 0, .2);
  }
}